
.navbar.navbar-default.navbar-fixed-top .nav-header {width: 225px;padding-left: 15px;height: 66px;-webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;transition: 0.4s ease;overflow: hidden;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container .mobile-only-brand {background: #79a8ff;}
.navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap {width: 225px;padding-top: 19px;}
.navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap .brand-img {margin-right: 10px;position: relative;top: 3px;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap .brand-text {display: inline-block;color: #212121;font-size: 21px;text-transform: capitalize;opacity: 1;visibility: visible;}

.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container {background: #fafafa;border-bottom: 0px solid #79a8ff;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container .mobile-only-brand {background: #79a8ff;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a {display: block;padding: 0px 0px !important;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li {margin-right: 10px;margin-top: 12px;margin-bottom: 12px;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a {background: transparent !important;}

.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .tb-icon{font-size: .8rem;color: #ffffff;display: inline-block;text-transform: capitalize;box-sizing: border-box;line-height: 1;background:#667bde;width:50px;height:50px;line-height:50px;border-radius:50%;vertical-align:middle;margin-right:-30px;position:relative;z-index:2;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .fa {color: white !important;font-size: 1.2rem;line-height:50px;}

.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .tb-text{font-size: 1rem;color: #222222;display: inline-block;text-transform: capitalize;box-sizing: border-box;line-height: 1;background:#ffffff;border:2px solid #667bde;min-width:150px;padding:7px 0px;border-radius:20px;vertical-align:middle;padding-left:25px;padding-right:15px;}


.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:active , .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:hover {background: transparent;color: #222222; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:active  .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:focus .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:hover .tb-text{background: #cdd4f5;color: #253375;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a {background: transparent;color: #222222; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a  .tb-text{background: #cdd4f5;color: #253375; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:active, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:hover, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:active, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:hover {background: transparent;color: #222222;}

.tab_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
	
.tab_menu_list .nav-pills > li > a {display: block;padding: 0px 0px !important;background: transparent;}
.tab_menu_list .nav-pills > li {margin-right: 10px; text-align: center;}
.tab_menu_list .nav-pills > li.active > a {background: transparent !important;}

.tab_menu_list .nav-pills > li > a .tb-icon{font-size: .8rem;color: #ffffff;display: inline-block;text-transform: capitalize;box-sizing: border-box;line-height: 1;background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
    background-position: 75% 75%;
    background-size: 100% 100%;width:50px;height:50px;line-height:50px;border-radius:50%;vertical-align:middle;margin-right:-30px;position:relative;z-index:2;}
.tab_menu_list .nav-pills > li > a .fa {color: white !important;font-size: 1.2rem;line-height:50px;}

.tab_menu_list .nav-pills > li > a .tb-text{font-size: 14px;color: #222222;display: inline-block;text-transform: capitalize;box-sizing: border-box;font-weight: 500;letter-spacing: 2px;line-height: 1;background:#efefef;min-width:150px;padding:10px 0px;border-radius:20px;vertical-align:middle;padding-left:25px;padding-right:15px;}


.tab_menu_list .nav-pills > li > a:active , .tab_menu_list .nav-pills > li > a:focus, .tab_menu_list .nav-pills > li > a:hover {background: transparent;color: #222222; }
.tab_menu_list .nav-pills > li > a:active  .tb-text, .tab_menu_list .nav-pills > li > a:focus .tb-text, .tab_menu_list .nav-pills > li > a:hover .tb-text{background: #cdd4f5;color: #253375;}
.tab_menu_list .nav-pills > li.active > a, .tab_menu_list .nav-pills > li.open > a {background: transparent;color: #222222; }
.tab_menu_list .nav-pills > li.active > a .tb-text, .tab_menu_list .nav-pills > li.open > a  .tb-text{color: #ffffff; background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
    background-position: 75% 75%;
    background-size: 100% 100%;}
.tab_menu_list .nav-pills > li.active > a:active, .tab_menu_list .nav-pills > li.active > a:focus, .tab_menu_list .nav-pills > li.active > a:hover, .tab_menu_list .nav-pills > li.open > a:active, .tab_menu_list .nav-pills > li.open > a:focus, .tab_menu_list .nav-pills > li.open > a:hover {background: transparent;color: #222222;}

.resizeables-parent{height: calc(100% - 122px);display: flex;flex-direction: column;}
.rf-edit-screen-container{overflow: hidden auto;flex-direction: column;flex: 1 0 auto;display: flex;}
/*
.rf-container{display: flex;width: 100%;}
@media (min-width: 1024px){
.rf-container {flex-direction: row;align-items: stretch;}
}
.rf-container .side-1 {padding: 2rem 0px 0px;display: flex;flex-direction: column;width: 100%;order: 2;}
@media (min-width: 1024px){
.rf-container .side-1 {order: 1;max-width: 40rem;flex: 0 0 50%; z-index: 1;}
}
.rf-container .side-2 {padding: 1rem;position: relative;display: flex;align-items: center;justify-content: center;order: 1;flex: 0 0 auto;}
@media (min-width: 1024px){
.rf-container .side-2  {order: 2;flex: 1 0 50%;}
}
.rf-container .side-2 .slider-for {margin-bottom:20px !important;}
.rf-container .side-2 .side-2-preview {max-width: 90vmin;width: 100%;padding-top: 1rem;}
.screen-areas .header-project-title {padding: 0.5rem;display: flex;justify-content: space-between;align-items: center;}
.rf-text-edit-container {flex: 2;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 480px;}
.rf-text-edit-container .rf-text-edit-not-editing {display: flex;align-items: center;}
.rf-text-edit-container .rf-text-edit-not-editing .rf-text-edit-content {user-select: none;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 400;font-size: 1.222rem;color: rgb(84, 95, 126);display: inline-block;text-transform: initial;}
.rf-text-edit-container .rf-text-edit-not-editing .rf-text-edit-icon {user-select: none;margin-left: 0.5rem;font-size: 1.2rem !important;color: rgb(84, 95, 126);}


 .left-side-box .box-header{min-height:50px;background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
    background-position: 75% 75%;
    background-size: 100% 100%;display: flex;padding: 0 2.5rem;flex: 0 0 auto;}
.left-side-box .box-body {width:100%;background:#dadff7;position: relative;}
@media (min-width: 1024px){
.left-side-box .box-body {flex: 1;overflow-y: auto;border-radius: 1px;}
}
.left-side-box .box-body .content-scroll{padding: 1.875rem;}
@media (min-width: 1024px){
.left-side-box .box-body .content-scroll {position: absolute;top: 0;left: 0;width: 100%;flex: 1;}
}
.left-side-box .box-footer.btn-action {grid-template-columns: 1fr 1fr;}
.left-side-box .box-footer{padding:15px 15px;background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
    background-position: 75% 75%;
    background-size: 100% 100%;display: grid;align-items: center;flex: 0 0 auto;position: relative;}
.box-footer .btn{margin-right:10px;}
.left-side-box .box-footer.btn-action .btn{letter-spacing:2px;font-weight: 600;font-size: 12px;}
.left-side-box .box-footer.btn-action .btn-white{background:#ffffff;border-color:#ffffff !important;color:#212121 !important;border-width:0px;}

.rf-container .side-2 .btn-action .btn{margin-right:10px;letter-spacing: 2px;font-weight: 600;font-size: 12px;}
*/
.screen-areas .rf-areas-category {margin-bottom: 1rem;}
.screen-areas .rf-areas-container {user-select: none;display: flex;align-items: center;margin-bottom: 1rem;}
.screen-areas .rf-areas-container .rf-areas-container-text{font-weight: 400; font-size: 1.16667rem; color: rgb(54, 63, 90); display: inline-block; text-transform: initial;}

.text-area-handler {padding-bottom: 16px;}
.area-container {display: flex;align-items: center;position: relative;}
.rf-advanced-input-container {width: 100%;}
.rf-advanced-input-container .input-container {display: flex;height: 48px;align-items: center;background: #ffffff;justify-content: space-between;box-shadow: 0 3px 6px 0 rgba(0, 82, 224, 0.08);}
.rf-advanced-input-container .input-container .advanced-input {padding-left: 20px;padding-right: 5px;border: none;width: 100%;height: 46px;font-size: 16px;color: #363f5a;line-height: 22px;}
.rf-advanced-input-container .textarea-container {display: flex;height: auto;align-items: center;background: #ffffff;justify-content: space-between;box-shadow: 0 3px 6px 0 rgba(0, 82, 224, 0.08);border-radius:5px;}
.rf-advanced-input-container .textarea-container .advanced-textarea {padding-left: 15px;padding-right: 5px;border: none;width: 100%;height: 50px;font-size: 16px;color: #363f5a;line-height: 22px;resize: vertical;border-radius:5px;}
.rf-advanced-input-container .hint-container {display: flex;margin-top: 5px;justify-content: space-between;align-items: center;}
.rf-advanced-input-container .hint-container .font-container {display: flex;align-items: center;}
.rf-advanced-input-container .hint-container .fonts {font-size: 12px !important;cursor: pointer;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}
.rf-advanced-input-container .hint-container .font-scale {font-size: 12px !important;padding: 0 10px;cursor: pointer;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}
.rf-advanced-input-container .hint-container .hint_text {font-size: 10px !important;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}


.progrees-bar-container {display: flex;justify-content: space-around;position: relative;}
.progrees-bar-container .main-progress-bar {width: 100%;background-color: #eef5ff;border-radius: 20px;height: 20px;display: flex;flex-direction: row;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}
.animated-list {width: 100%;display: flex;}
.span {box-sizing: border-box;font-size: 0.875rem;margin: 0;text-align: left;display: inline-block;}
.progrees-bar-container .video-dur-container .video-duration {color: #545f7e;font-weight: 300;margin: 0px 0 0 5px;font-size: 15px;user-select: none;}

.music-player-container {background-color: #f5fafe;display: flex;flex-direction: column;padding: 12px 5px 12px 31px;margin-top: 10px;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}

.mute-project-sound-container {display: flex;justify-content: flex-start;align-items: center;width: 100%;z-index: 3;}
.music-player-container .mute-project-sound-container {justify-content: flex-end;padding-right: 10px;}

.music-player-container .rf-music-player-container {display: flex;align-items: center;}
.music-player-container .m-player-element {margin-right: 20px;}
.music-player-container .m-player-element.music-info {width: 250px;}
.music-player-container .m-player-element.music-info .selected-folder-name {margin-bottom: 5px;}
.music-player-container .m-player-element.music-info .selected-folder-name .folder-text {font-size: 12px !important;}
.music-player-container .m-player-element.music-info .playing-track-title {font-size: 16px;color: #545f7e;font-weight: 300;max-width: 250px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.music-body {display: flex;margin-top: 8px;}
.music-body .upload-music-container {margin-right: 15px;border: 1px solid #eef5ff;display: flex;flex-direction: column;flex: 1;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}
.music-renderer-container {overflow-y: auto;width: 100%;}
.music-body .music-renderer-container {flex: 3;border: 1px solid #eef5ff;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);}
.music-body .music-lib-label {width: 100%;padding: 4px 18px;background: #eef5ff;}

.music_panel-container {border-bottom: solid 1px #eef5ff;padding: 10px 0;position: relative;align-items: center;display: flex;}
.music_panel-container.playing-sound-item {background-color: #eef5ff;}
.music-panel-item-clickable-container {display: flex;flex-grow: 1;align-items: center;}

.audio-player-btn {width: 40px;height: 40px !important;background-color: transparent !important;display: inline-flex !important;justify-content: center;align-items: center;margin-left: 8px !important;}
.music_panel-container .audio-component-container {display: flex;justify-content: space-between;flex-grow: 1;padding: 0 0.5rem;}
span.truncate {overflow: hidden;text-overflow: ellipsis;}
.music_panel-container .song-title-width {max-width: 480px;}
span.truncate.singleLine {white-space: nowrap;}
.audio-duration{font-weight: 300;font-size: 1rem;color: rgb(84, 95, 126);display: inline-block;text-transform: initial;}
.btns-bar {display: flex;align-items: center;}
.audio-btn {width: 36px;}
.audio-btn.action {margin-right: 5px !important;}
.music-body .music-lib-label {width: 100%;padding: 4px 18px;background: #eef5ff;}

.upload-music-container .upload-your-music-voice {background-color: transparent !important;border-bottom: 1px solid #eef5ff !important;height: 4.2rem !important;line-height: 4.2rem !important;border-radius: 2px;overflow: hidden;background-color: rgb(92, 173, 94);text-align: center;cursor: pointer;position: relative;}
.upload-your-music-voice input[type="file"]{opacity:0;width:100%;position:absolute;left:0px;top:0px;height:100%;z-index: 1;cursor: pointer;}
.upload-your-music-voice i{vertical-align: middle;margin-left: 12px;margin-right: 0px;font-size: 1rem;color: rgb(56, 125, 255);}
.labelUPmc{position: relative; padding-left: 8px; padding-right: 16px; vertical-align: middle; letter-spacing: 0px; text-transform: none; font-weight: 500; font-size: 14px; display: inline-block;cursor: pointer;}
.labelUPmc span{font-weight: 400; font-size: 1rem; color: rgb(56, 125, 255); display: inline-block; text-transform: initial;}

.music-body .upload-music-container .uploaded-mus-med-lib-container {display: flex;flex-direction: column;}

.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music{background-color: transparent !important;
margin: 0 15px !important;display: flex !important;align-items: center;display: inline-block;cursor: pointer;text-decoration: none;margin: 0px;padding: 0px;outline: currentcolor none medium;font-size: inherit;font-weight: inherit;position: relative;height: 3.5rem;line-height: 3.5rem;min-width: 88px;color: transparent;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;border-radius: 2px;overflow: hidden;background-color: rgb(153, 153, 153);text-align: center;border-bottom: 1px solid #eef5ff !important;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music i{vertical-align: middle; margin-left: 12px; margin-right: 0px; font-size: 2rem; color: rgb(84, 95, 126);}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music .labelText{position: relative; padding-left: 8px; padding-right: 16px; vertical-align: middle; letter-spacing: 0px; text-transform: none; font-weight: 500; font-size: 14px; display: inline-block;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music .labelText .music-folder-name{font-weight: 300; font-size: 1rem; color: rgb(84, 95, 126); display: inline-block; text-transform: initial;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music.active i{color: rgb(56, 125, 255);}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music.active .labelText{color: rgb(56, 125, 255);}

.music-genre-title {display: flex;align-items: center;justify-content: space-between;padding: 7.5px 15px;background-color: #eef5ff;}

.radio {margin-right: 5px;}
.radios {display: flex;align-items: center;padding: 6px 15px;margin: 0;position:relative;}
.radio input[type="radio"] {position: absolute;opacity: 0;}
.radios input[type="radio"] + .radio-labels:before {content: '';background: #ffffff;background-color: rgb(255, 255, 255);border-radius: 100%;border: 1px solid #5690ff;display: inline-block;width: 20px;height: 20px;position: relative;vertical-align: top;cursor: pointer;text-align: center;transition: all 250ms ease;}
.radio label {position:relative;cursor: pointer;}
.radios input[type="radio"] + .radio-labels:after{display:none;}
.radios input[type="radio"]:checked + .radio-labels:before {background-color: #387dff;box-shadow: inset 0 0 0 4px #ffffff;}
.radios > span {margin-left: 15px;}
.radios .music-folder-name {font-weight: 300;font-size: 1rem;color: rgb(84, 95, 126);display: inline-block;text-transform: capitalize;}


.preloader-wrap {width: 100%;height: 100%;position: fixed;top: 0; bottom: 0;background: rgba(255,255,255,1);z-index : 9999; }
.percentage {z-index: 100;border: 1px solid #ccc;text-align:center;color: #fff;line-height: 30px;font-size : 15px;}

.loader,
.percentage{height: 30px;max-width: 500px; border: 2px solid #8C46CF;border-radius: 20px;font-weight: 300;position: absolute; top: 55%; bottom: 0; left: 0; right: 0;margin : auto; }
.loader:after,
.percentage:after {content: "";display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.trackbar {width: 100%;height: 100%;border-radius: 20px;color: #fff;text-align: center;line-height: 30px;overflow: hidden;position: relative;opacity: 0.99;}
.loadbar {width: 0%;height: 100%;background: repeating-linear-gradient(45deg, #504fe6, #e33ba0 10px, #674BDE 10px,#9944C9 10px);
box-shadow: 0px 0px 14px 1px #fff; position: absolute;top: 0;left: 0;animation: flicker 5s infinite;overflow: hidden;}
.glow {width: 0%;height: 0%;border-radius: 20px;box-shadow: 0px 0px 60px 10px #B740BD;position: absolute;bottom: -5px;animation: animation 5s infinite;}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}


/*--------------------------------------------
	1.9. slick arrow
---------------------------------------------------*/
.slick-prev, .slick-next {display: block;width: 38px;height: 38px;background:#79a8ff;box-shadow:0px 0px 8px rgba(0,0,0,0.08);transition:all 0.3s ease 0s;}
.slick-prev:hover, .slick-next:hover{background:#2b3864;}
.slick-prev:focus, .slick-next:focus{background:#2b3864;}
.slick-prev:hover:before, .slick-next:hover:before{color:#79a8ff;}
.slick-prev:focus:before, .slick-next:focus:before{color:#79a8ff;}
.slick-prev {left: 0px;}
.slick-next {right: 0px;}
.slick-prev:before, .slick-next:before {font-family: 'FontAwesome';font-size: 25px;color:#ffffff;transition:all 0.3s ease 0s;opacity: 1;}
.slick-prev:before{content:"\f104";}
.slick-next:before{content:"\f105";}

.slick-dots{bottom:-50px;}
.slick-dots li{width: 15px;height: 15px;}
.slick-dots li.slick-active{position: relative;display: inline-block;width: 15px;height: 15px;}
.slick-dots li button{width: 15px;height: 15px;padding: 0px;position:relative;}
.slick-dots li button:before{font-size: 15px; color:#2b3864;opacity:1;border-radius:50%;}
.slick-dots li.slick-active button:before{opacity: 1;color: #79a8ff;}

.item-slide{padding:7px 7px;}
.slider-for .slick-prev, .slider-for .slick-next {top: 105%;}
.flex-list.slick-current .screens_effect{opacity: 0.6;visibility: visible;position: absolute;top: 0;height: 100%;width: 100%;z-index: 2;background: none;border: 2px solid #13bb18;}

/* Music */
.video-audio-track-header{background: #fafafa;min-height: 44px;padding: 1rem 1rem 1rem 4rem;display: flex;align-items: center;justify-content: space-between;transition: .2s;box-shadow: rgba(0,0,0,.1) 0 0 0 1px;position: relative;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);}
.video-audio-track{background: #fff;min-height: 44px;padding: 1rem 1rem 1rem 4rem;display: flex;align-items: center;justify-content: space-between;transition: .2s;box-shadow: rgba(0,0,0,.1) 0 0 0 1px;position: relative;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);}
.video-audio-track {width: 100%;}
.video-audio-icon{left: 0;top: 0;height: 100%;width: 3rem;position: absolute;border-right: #eaebec solid 1px;}
.video-audio-icon i{top: 50%;left: 50%;transform: translate(-50%,-50%);width: 1.25rem;height: 1.25rem;position: absolute;font-size:18px;color:#667bde;}
.video-audio-track-name{position: relative;z-index: 3;margin-right: 1rem;color:#575757;max-width: 260px;width: 260px;overflow: hidden;white-space: nowrap;}
.video-audio-track-genre{max-width:185px;width:185px;position: relative;z-index: 3;color:#2c2c2c;margin-right: 1rem;}
.video-audio-track-player{display: flex;align-items: center;max-width: 180px;width: 180px;}
.video-audio-track-player .progress{max-width: 120px;width: 120px;margin:0px;margin-right: 1rem;}
.video-audio-track-none-play, .video-audio-track-play {margin-right: 0.5rem;line-height: 0;vertical-align: middle;}
.video-audio-track-play {background: #eaebec;border-radius: 50%;padding: .25rem;opacity: .5;width: 2.25rem;height: 2.25rem;display: flex;align-items: center;justify-content: center;transition: .2s;position: relative;z-index: 3;color: inherit;border: 0;cursor: pointer;}
.video-audio-track-playicon{width: 75%;height: 75%;transition: .2s;fill: currentColor;}
.playing .video-audio-track-play, .video-audio-track-play:hover {transform: scale(1.15);opacity: 1;background: #fff;box-shadow: inset currentColor 0 0 0 2px;color: #667bde;}
.video-audio-track:hover .video-audio-track-play, .video-audio-track:hover .video-audio-track-Select {opacity: 1;}
svg {vertical-align: middle;}

.video-audio-track-add{max-width:50px;width:50px;}
.video-audio-track-add .audio-add-btn{border: 0; box-sizing: border-box; display: inline-block;cursor: pointer; text-decoration: none; margin: 0px; padding: 0px; outline: currentcolor none medium; font-size: inherit; font-weight: inherit; position: relative;line-height: 36px; color: transparent; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; border-radius: 50px; overflow: hidden;text-align: center;}
.video-audio-track-add .audio-add-btn i{vertical-align: middle; margin-left: 0px; margin-right: 0px; font-size: 1.6rem; color: #ff1744;}
.wave-container wave {display: none !important;}.wave-container wave:first-child {display: block !important;}
.wrapping-div {
	opacity: 0;
	display: block;
	position: absolute;
	cursor: pointer;
}
.wrapping-div-content .text-area-value {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px; }
.wrapping-div:hover {
box-shadow: 0px 0px 1px 4px #387dff;
background: rgba(255, 255, 255, 0.55) none repeat scroll 0% 0%;
-webkit-animation: pulsate 0.7s ease-out;
-webkit-animation-iteration-count: 2;
opacity: 1; }
.slect_textbox{text-align:center;font-size: 25px;color: #000;padding: 25px;background: #fff;height: 83px;}
/* .modal-dialog-centered {position:relative;transform:translateY(-50%) !important;top:50% !important;}
 */
 
 .ml-0 {
	 margin-left: 0px;
 }
 .padding-zero {
    padding: 0;
 }
 .equal-font {
	letter-spacing: 2px;
    font-weight: 500;
 }
 .banner-style {
    position: relative;
	width: 100%;
	background: #ffffff url(../images/bg.png) no-repeat;
	background-position: center;
}
 .banner-style1 {
    position: relative;
	width: 100%;
	background: #ffffff url(../images/style-1.png) no-repeat;
	background-position: center;
}
 .banner-style2 {
    position: relative;
	width: 100%;
	background: #ffffff;
}

 .banner-style1:before {
    background-image: url(../images/bg-2.png);
    background-position: bottom right;
    opacity: 0.6;
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

 .banner-style:before {
    background-image: url(../images/bg-2.png);
    background-position: bottom right;
    opacity: 0.6;
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.absolute-text-value {
	width: 100%; 
	height: 12%; 
	bottom: 16%;
	text-align: center;
	background-color: transparent;
	font-size: 24px;
	color: #ffffff;
	position: absolute;
	cursor: pointer;
	display: none;
	font-weight: bold;
}

.tab-content {
	padding: 30px 0px 0px 0px;
}

@media (min-width: 768px){
	.banner-style {
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
	.banner-style1 {
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
	.banner-style2 {
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
}
.rf-container {
	display: flex;
	width: 100%;
}

.side-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    padding-right: 0px;
    padding-top: 0px;
}

@media (min-width: 768px){
.side-2 {
    position: relative;
    flex-grow: 1;
}
}
.side-1 {
    background-color: #ececec;
    box-shadow: 0 6px 18px rgba(0,0,0,.06);
    width: 420px;
    z-index: 100;
    overflow: hidden;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.left-side-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    will-change: contents;
}

@media (max-width: 767px){
	.side-1 {
		margin: 0;
		border-radius: 24px;
		width: 100%;
	}
}
@media (min-width: 768px) {
	.side-1 {
		border-radius: 24px;
		margin: 0px 24px 24px 0;
	}
}

@media screen and (max-width: 620px) { 
	.rf-container {
		flex-wrap: wrap;
	}
	.side-2 {
		padding-left: 0px;
	}
	.shapes {
		display: none;
	}	
	.tab_menu_list .nav-pills > li > a .tb-text {
		min-width: 120px;
	}
	.nav-pills > li {
		float: left;
	}
	.absolute-text-value {
		bottom: 2%;
	}
}
 .left-side-box .box-header{min-height:50px;display: flex;padding: 0 2.5rem;flex: 0 0 auto;background-color: #ececec;}
.left-side-box .box-body {width:100%;background:#ececec;position: relative;}
@media (min-width: 1024px){
.left-side-box .box-body {flex: 1;overflow-y: auto;border-radius: 1px;}
}
.left-side-box .box-body .content-scroll{padding: 1.875rem;}
@media (min-width: 1024px){
.left-side-box .box-body .content-scroll {position: absolute;top: 0;left: 0;width: 100%;flex: 1;}
}
.left-side-box .box-footer.btn-action {grid-template-columns: 1fr 1fr;}
.left-side-box .box-footer{padding:15px 15px;display: grid;align-items: center;flex: 0 0 auto;position: relative;}
.box-footer .btn{margin-right:10px;}
.left-side-box .box-footer.btn-action .btn{letter-spacing:2px;font-size: 14px;background-color: #e8eff2; border: none;padding: 15px 25px;border-radius: 30px;box-shadow: 0 3px 5px 0 rgb(206, 206, 206);}
.left-side-box .box-footer.btn-action .btn-white{    color: #fff !important;
    border-width: 0px;
    background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
    background-position: 75% 75%;
    background-size: 100% 100%;box-shadow: 0 3px 5px 0 rgb(206, 206, 206);
	}

.rf-container .side-2 .btn-action .btn{margin-right:10px;letter-spacing: 2px;font-weight: 600;font-size: 12px;}
.footer{position:relative;}
.bg-color {
	background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260) !important;
    background-position: 75% 75%;
    background-size: 100% 100%;
	border: none !important;
}
.videoduration {
	line-height: 28px;
	display: inline-flex;
	color: #000;
	align-items: center;
	padding: .875em 1.25em;
	background-color: #ffffff;
	border-radius: 50px;
	transition: .2s;
	font-size: 13px;
	width: auto;
	margin-right: 20px;
	-webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
	box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
	-webkit-transform: translateY(0px) scale(1.02);
	-moz-transform: translateY(0px) scale(1.02);
	-ms-transform: translateY(0px) scale(1.02);
	-o-transform: translateY(0px) scale(1.02);
	transform: translateY(0px) scale(1.02);
	-webkit-box-shadow: 0 4px 8px rgba(62,57,107,.2);
	box-shadow: 0 4px 8px rgba(62,57,107,.2);
	    min-width: 200px;
}
.videoduration i{
	margin-right: .75em;
	color: #ff1744;	
    font-size: 16px;
}
.videoduration .vd-label{
	margin-right: .75em;
	display: block;
}
.music-table > thead {
	background-color: #e8eff2;
}
.music-table > thead > tr > th {
	border: none !important;
	border-bottom: none !important;
}

.music-table > tbody > tr > td {
	border: none !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #ffffff;	
    color: #000000;
}

table.dataTable tbody tr {
	background-color: #f9f9f9;	
    color: #000000;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    height: 35px;
}

.VideoPreviewRender > :first-child, .VideoPreviewRenderFailed > :first-child, .VideoPreviewStart > :first-child {
    margin-top: 0;
}
.VideoPreviewRender > :last-child {
    margin-bottom: 0;
}
.VideoPreviewRendering {
    width: 100%;
    min-height: 24rem;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 4px;
}

.VideoPreviewRendering__Headings {
    position: relative;
	color: #000000;
    height: 4rem;
    margin-bottom: 9rem;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.VideoPreviewRendering__Headings, .VideoPreviewRendering__Progress {
    width: 80%;
}
.VideoPreviewRender, .VideoPreviewStart {
    -webkit-box-shadow: 0 20px 25px rgba(0,0,0,.4);
    box-shadow: 0 20px 25px rgba(0,0,0,.4);
    background: #fff;
}
.VideoPreviewRender {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.VideoPreviewRendering__Progress {
 max-width:100%;
 margin-bottom:2rem
}
.UIProgress {
 position:relative;
 display:block
}
.UIProgress__Track {
 display:block;
 position:relative;
 height:1.5rem;
 background:rgba(0,0,0,.125);
 border-radius:3px
}
.UIProgress__Value {
 left:0;
 top:0;
 width:100%;
 height:100%;
 position:absolute;
 border-radius:3px;
 background-color:#667bde;
 background-image:url(progress-bg-3bb80a582d8e7c400b29aecd053e509b.png);
 background-repeat:repeat;
 background-size:24px 16px;
 overflow:hidden;
 transition:width .25s;
 animation:progress-animation 2.5s infinite linear;
 width: 100%;
background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-size: 40px 40px;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
.is-current{font-size:24px;text-align:center;}


.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.bubble {
	animation: expand .75s ease-in-out infinite;
	border-radius: 20px;
	display: inline-block;
	transform-origin: center center;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	background: #f4f4f4;
}

.bubble:nth-child(1) {
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
}

@keyframes expand {
  0% {
    transform: scale(1);	
	background: #ececec;
  }
  25% {
    transform: scale(1.55);
	background: #ececec;
  }
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
	overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -34px;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.bar {
  position: relative;
  width: 600px;
  margin: 0 auto;
  background: #ffffff;
}

.circle {
	position: absolute;
	top: -40px;
	margin-left: -75px;
	right: 0;
	height: 60px;
	width: 60px;
	left: 0;
	background-image: radial-gradient(circle at 98% 0,#56d1ce,#3053f3 37%,#e23aac 67%,#eb4260);
	border-radius: 30%;
	-webkit-animation: move 5s infinite;
}

.bar p {
	position: absolute;
	top: -30px;
	right: -45px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
}

@-webkit-keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100 {right: 100%;}
}

.btn-play-pause {
	cursor: pointer;
    font-size: 15px;
    padding: 5px 0px;
	color: #ff1744;
}

.dataTables_wrapper .dataTables_length {
    padding-left: 0px;
}

.dataTables_wrapper .dataTables_filter {
    padding-right: 0px;
}


.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

/*modal background*/

.modal-bg {
	background: #ffffff;
	background-image: url(../images/modal-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.modal-text-style {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 1.16667rem;
	color: rgb(54, 63, 90);
}
.gray-bg {
	background-color: #ececec;
	-webkit-box-shadow: 0 20px 25px rgba(0,0,0,.4);
    box-shadow: 0 20px 25px rgba(0,0,0,.4);
}
.gray-bg .modal-body {
	padding: 1.875rem;
}
.innerpage-decor .innerpage-circle1 {
    position: absolute;
    left: 247px;
    bottom: 250px;
    animation: movebounce 2s linear infinite;
}
.innerpage-decor .innerpage-circle2 {
    position: absolute;
    left: 50px;
    top: auto;
    bottom: 80px;
    animation: movebounce 4s linear infinite;
}

.innerpage-decor .innerpage-circle3 {
	position: absolute;
	top: auto;
	left: 62%;
	bottom: 20%;
	animation: moveleftbounce 3.9s linear infinite;
}

@keyframes movebounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }
	
@keyframes moveleftbounce {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }	
/*Text Field Style*/

.text-field-style {
	display: flex;
	height: auto;
	align-items: center;
	background: #ffffff;
	justify-content: space-between;
	box-shadow: 0 3px 6px 0 rgba(0, 82, 224, 0.08);
	border-radius: 5px;	
}
.text-field-style .advanced-textarea {
    padding-left: 15px;
    padding-right: 5px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #363f5a;
    line-height: 22px;
    resize: vertical;
    border-radius: 5px;
}

/*Animation Background*/

.abstract-svg-1{
  position: absolute;
  bottom: 19%;
  fill:#ffa5bc;
  height: 30px; 
  width: 30px; 
  left: 4%;
  z-index: 9;
  animation: animationShapeOne 7s infinite linear;
  animation-iteration-count: 1;
}

.abstract-svg-2{
	fill: #6fc7d9;
    height: 28px;
    width: 28px;
    bottom: 88%;
    position: absolute;
    right: 25%;
    z-index: 9;
    animation: rotated 4s infinite linear;
	animation-iteration-count: 1;

}
.abstract-svg-3{
  fill: #1e266d;
  height: 35px; 
  width: 35px; 
  position: absolute;
  top: 30%;
  z-index: 9;
  animation: rotated 5s infinite linear;
  left: 3.9%;
  animation-iteration-count: 1;
}

.abstract-svg-4{
  fill: #3053f3;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 70%;
  z-index: 9;
  animation: rotated 6s infinite linear;
  right: 2%;
  animation-iteration-count: 1;
}

.abstract-svg-5{
	fill: #ffd26a;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 35%;
	z-index: 9;
	animation: rotated 5s infinite linear;
	right: 1%;
	animation-iteration-count: 1;
}

@media only screen and (max-width: 1340px){ 
	.abstract-svg-5 {
		top: 19% !important;
	}	
	.abstract-svg-3 {
		top: 16% !important;
	}
}

@keyframes animationShapethree{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) scale(1) ;
  }
  20% {
    transform:  translate(153px,-50px)  rotate(36deg) scale(0.9);
  }
  40% {
    transform:  translate(41px,7px)  rotate(72deg) scale(1);
  }
  60% {
    transform:  translate(93px,150px)  rotate(108deg) scale(1.2);
  }
  80% {
    transform:  translate(-50px,182px)  rotate(144deg) scale(1.1);
  }
  100% {
    transform:  translate(-40px,150px)  rotate(0deg) scale(1);
  }
}


@keyframes animationShapeTwo{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) scale(1) ;
  }
  20% {
    transform:  translate(73px,-1px)  rotate(36deg) scale(0.9);
  }
  40% {
    transform:  translate(141px,72px)  rotate(72deg) scale(1);
  }
  60% {
    transform:  translate(83px,122px)  rotate(108deg) scale(1.2);
  }
  80% {
    transform:  translate(-40px,72px)  rotate(144deg) scale(1.1);
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) scale(1);
  }
}


@-webkit-keyframes animationShapeOne {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  translate(73px,-1px)  rotate(36deg) ;
  }
  40% {
    -webkit-transform:  translate(141px,72px)  rotate(72deg) ;
  }
  60% {
    -webkit-transform:  translate(83px,122px)  rotate(108deg) ;
  }
  80% {
    -webkit-transform:  translate(-40px,72px)  rotate(144deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-webkit-keyframes rotated {
  0%   {-webkit-transform: rotate(0);transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes rotated {
  0%   {-webkit-transform: rotate(0);transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}