body{height: 100%;margin: 0;overflow-x: hidden;}
svg {display: inline-block;}
svg:not(:root) {overflow: hidden;}
#app{position:relative;height:100%;width:100%;}
#header {min-width: 1000px;position: absolute;width: 100%;z-index: 53;top: 0;height: 56px;background: #1a1a20;}
#header-wrapper {padding: 0 0 0 22px;}
#nprogress {display:none;}
#nprogress .spinner{display:none;}

.mainView{height: 100%;}
.interface{min-width: 1024px;height: 100%;overflow: hidden;}
.wrapper{display: -ms-flexbox;display: flex;height: 100%;background-color: #edf0f2;}
.sidebar {-ms-flex: 0 0 432px;flex: 0 0 432px;transition: flex .3s cubic-bezier(.86,0,.07,1);transition: flex .3s cubic-bezier(.86,0,.07,1),-ms-flex .3s cubic-bezier(.86,0,.07,1);}
.sidebar, .sidebarMenu {position: relative;display: -ms-flexbox;display: flex;}
.sidebarMenu {z-index: 7;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: justify;justify-content: space-between;width: 70px;background-color: #334059;z-index: 99;}
.sidebarClose {-ms-flex: 0 0 70px;flex: 0 0 70px;transition: flex .3s cubic-bezier(.86,0,.07,1);transition: flex .3s cubic-bezier(.86,0,.07,1),-ms-flex .3s cubic-bezier(.86,0,.07,1);}
.sidebarPanel {position: absolute;right: 0;width: 362px;background-color: #263147;transition: transform .3s cubic-bezier(.86,0,.07,1);}

.designsWrapper, .designsWrapperPartner {display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;}
.designsWrapper {height: calc(100vh - 0px);}
.designsListWrapper{position: relative;display: flex;-ms-flex: 1;flex: 1;-ms-flex-direction: column;flex-direction: column;}
.sidebarControl {position: absolute;top: 290px;right: 1px;z-index: 9;transform: translateX(100%);transform-origin: left;cursor: pointer;}
.sidebarControl button {background: none;border: none; outline: none;-webkit-appearance: button;-moz-appearance: button;padding:0px;cursor: pointer;}
.sidebarControl button svg{display: inline-block;}
.sidebarControl button .arrow {position: absolute;top: calc(50% + 2px);right: 40%;transform: translateY(-90%);transform-origin: 0 0;fill: #fff;}
.sidebarControl:hover .arrow {transition: .3s;fill: #0bf;}
.arrow, .arrowRotated {transition: transform .3s;}
.sidebarControl button .arrowRotated {background-color: #263147;transform: translate(100%) rotate(180deg);transform-origin: 0 0;}
.sidebar.sidebarClose .sidebarControl button .arrowRotated {background-color: #263147;transform: translateY(-90%) rotate(0deg);transform-origin: 0 0;}

.sidebarMainWrapper {width: 320px;margin: 0 0 12px 12px;padding: 11px 11px 7px;color: #fff;background-color: #283449;border: 1px solid #535c6d;}
.scrollWrapper {position: relative;display: -ms-flexbox;display: flex;-ms-flex: 1;flex: 1;width: 339px;padding-left: 12px;overflow: hidden;}

.workSpaceSectionWrapper, .workSpaceSectionWrapperPartner {position: relative;width: calc(100% - 420px);overflow:hidden;}
.workSpaceSectionWrapper {width: 100%;height: calc(100vh - 0px);}
.workSpaceSection {width: 100%;height: 100%;padding-top: 45px;overflow: hidden;}
.mainWrapper {position: absolute;top: 0;left: 0;display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;width: 100%;height: 45px;padding-left: 5px;background-color: #334059;z-index: 2;}
.btnInnerWrapper, .circle, .leftWrapper, .rightWrapper {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;}

.canvas-scrollbar {/* width: calc(100% + 69px) !important; */width: 100% !important;transition: transform .3s ease-in-out;}
.workSpace {position: relative;z-index: 0;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;width: 100%;height: 100%;background-color: #edf0f2;}
.workSpace .canvas-scrollbar .os-content{display:flex;}
.mainFrame {display: block;margin: auto;padding: 50px !important;}
.workSpaceContent, .canvas-container {position: relative;margin: 0 auto;margin-bottom: 0px;background-color: #fff;-webkit-box-shadow: rgba(83,85,87,.10999999999999999) 0 0 .25px 1px;
box-shadow: 0 0 .25px 1px rgba(83,85,87,.10999999999999999);}
.canvas-container{/* transform: rotateZ(0rad); */overflow: hidden;}
.canvas-scrollbar form{position: relative;width: 100%;height: 100%;}
/*#canvas-wrapper #canvas {width:100%; height:450px; }
.image-builder-container{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 100%;height: 100%;overflow: auto;}
.image-builder-container .image-builder {background: #cacaca;box-sizing: border-box;border: 1px solid #cacaca;min-height: 100vh; 
 	height: 100%;     text-align: center;position: relative;
    /* overflow-x: scroll; overflow-y: hidden;width: 100%;display: flex;}
	
.image-builder-container .image-builder .fabric-container .canvas-container{background: white;border-radius: 1px;box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);display: inline-block;vertical-align: middle;z-index: 0;position: relative;top:50%;transform: translateY(-50%);transform-origin: center;} 
.image-builder-container .image-builder #canvas-wrapper {width: 100%;/* display: flex;justify-content: center; padding: 15px 0px;}*/
#discard{position:absolute;left:0px;top:0px;width:100%;height:100%;background:transparent;}
/* scrollbars ---------------------- */

.scrollbar-section{position:relative;}
.scrollbar {overflow: auto;width: 100% !important;height: 17em;padding: 0 0px 0 0 !important;}
.scrollbar .os-scrollbar-track {background: rgba(255, 255, 255, 0.14) !important;border-radius: 11px;}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle, .os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {border-radius: 11px;opacity: .20;}
.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle, .os-theme-light > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {opacity: .35;}
.sidebar .scrollbar.os-host-overflow {overflow: visible !important;}
.sidebar .scrollbar .os-scrollbar-vertical {top: 0;right: -14px;}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus{box-shadow: none;}
.light {background-color: #f0f1f5;}
.tl-tip{position:absolute;left:0px;top:0px;width:100%;height:100%;z-index: 2;}
.tooltip .arrow {width: .4rem;height: .2rem;}
.tooltip-inner {font-size: 11px;padding: .15rem .45rem;background-color: rgba(0,0,0,0.8);}
.bs-tooltip-auto[x-placement^="top"], .bs-tooltip-top {padding: .2rem 0;}
.bs-tooltip-auto[x-placement^="top"] .arrow:before, .bs-tooltip-top .arrow:before {border-width: .2rem .2rem 0;border-top-color: rgba(0,0,0,0.8);}
.bs-tooltip-auto[x-placement^="bottom"], .bs-tooltip-bottom {padding: .2rem 0;}
.bs-tooltip-auto[x-placement^="bottom"] .arrow:before, .bs-tooltip-bottom .arrow:before {border-width: 0 .2rem .2rem;border-bottom-color: rgba(0,0,0,0.8);}
.bs-tooltip-auto[x-placement^="right"], .bs-tooltip-right {padding: 0 .2rem;}
.bs-tooltip-auto[x-placement^="right"] .arrow:before, .bs-tooltip-right .arrow:before {border-width: .2rem .2rem .2rem 0;border-left-color: rgba(0,0,0,0.8);}
.bs-tooltip-auto[x-placement^="right"] .arrow, .bs-tooltip-right .arrow {width: .2rem;height: .4rem;}
.bs-tooltip-auto[x-placement^="left"], .bs-tooltip-left {padding: 0 .2rem;}
.bs-tooltip-auto[x-placement^="left"] .arrow:before, .bs-tooltip-left .arrow:before {border-width: .2rem 0 .2rem .2rem;border-right-color: rgba(0,0,0,0.8);}
.bs-tooltip-auto[x-placement^="left"] .arrow, .bs-tooltip-left .arrow {width: .2rem;height: .2rem;}

.sp-replacer{background: #f5f5f5;border: solid 1px #e4e4e4;}
.sp-preview{border: solid 1px #aaa;}
.sp-replacer:hover, .sp-replacer.sp-active {border-color: #03a9f4;color: #111;}
.sp-color, .sp-hue, .sp-clear {border: solid 1px #d8d8d8;}
.sp-slider{border: 1px solid #9f9f9f;}
.sp-initial, .sp-alpha-inner, .sp-alpha-handle{border: 1px solid #ccc;}
.sp-input{border-radius:0px;border: 1px solid #ccc;}
.sp-input:focus{border: 1px solid #03a9f4;}
.sp-container {background-color: #FAFCFF;border: solid 1px #dbdbdb;}
.sp-container button{border-radius:0px;background:#03a9f4;color:#ffffff;text-shadow:none;border: 1px solid #03a9f4;text-transform:uppercase;font-size: 12px;padding: 5px 8px;transition: all ease 0.4s;}
.sp-container button:hover{background:#40caf4;border-color:#40caf4;text-shadow:none;color:#ffffff;;}
.sp-cancel {font-size: 11px;text-transform:uppercase;}
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {border-color: #03a9f4;}
.sp-container .sp-cancel {border-radius: 0px;background: #d93f3f;color:#ffffff !important;text-shadow: none;border: 1px solid #d93f3f;text-transform: uppercase;font-size: 12px;padding: 5px 8px;transition: all ease 0.4s;box-sizing: border-box;line-height:1;display: inline-block;}
.sp-container .sp-cancel:hover {text-decoration:none;background: #e0695d;border-color: #e0695d;}
.sp-clear-display{background-repeat:repeat; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==');}

#canvasBgColor + .sp-replacer{opacity: 0;position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 2;cursor: pointer;}
#canvasBgColor{opacity: 0;position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 2;cursor: pointer;}

.photos-show-mini {width: 100%;height:auto;margin-bottom:0px;}
.photos-show-mini li {line-height: 0;margin:  0px;position: relative;display:block;}
.photos-show-mini li .file-name{width: 100%;display:block;margin-top:5px;margin-bottom:0px;line-height:18px;}
.photos-show-mini li > div {margin: 0 0 0;background: rgba(255,255,255,0.1);border: 0px solid rgba(255,255,255,0.1);border-radius: 2px;min-height: 72px;}
.photos-show-mini li > div > a {position:relative;overflow:hidden;align-items: center;display: flex;flex-direction: column;justify-content: space-between;min-height: 98px;padding: 15px 0 14px;box-sizing: border-box;}
.photos-show-mini a .icon {overflow: hidden;position:relative;text-align: center;color:#eaeaea;
align-items: center;background-color: rgba(255, 255, 255, 0.2);border-radius: 2px;display: flex;flex-direction: row;justify-content: space-between;height: 36px;padding: 0 12px 0 14px;line-height: 1;}
.photos-show-mini a .icon i{font-size:20px;margin-right:8px;}
.photos-show-mini a .icon .apd {color: #fff;font-size: 12px;font-weight: 500;line-height: 1;}
.photos-show-mini a .ape {align-items: center;color: rgba(255, 255, 255, 0.67);display: flex;font-size: 12px;font-weight: bold;text-align: center;line-height: 1;}
.photo-uploadbox{position:relative;}
.photo-uploadbox input[type="file"] {width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;z-index: 5;cursor:pointer;background: transparent;opacity:0;border:0;}
.photo-uploadbox input[type="hidden"] {display: none;}

.sidebar .nav-pills a {padding: 14px 18px;color:#ffffff !important;line-height: 1;font-size:12px;border-radius: 0px;text-align: center;}
.sidebar .nav-pills a .material-icons-outlined {transform: translateY(0%);line-height: 2.3;position:relative;left:0px;top:0px;width:32px;height:32px;display:block;}
.sidebar .nav a .material-icons-outlined:before {content:"";position:absolute;left:0px;top:0px;width:32px;height:32px;display:block;}
.sidebar .nav a:hover {color:#ffffff !important;}
.nav-pills .nav-link{border-left: 2px solid transparent;color:#eaeaea !important;position:relative;font-size:24px;}
.nav-pills .nav-link:hover{color:#ffffff !important;}
.nav-pills .nav-link.active, .indigo .nav-pills .show > .nav-link {color: #ffffff !important;background-color: #263147;border-left: 2px solid #fff;}
.sidebar .nav-material > li > a:after {content: "";background: #ffffff;}

.theme-dark .b-b, .theme-dark .b-l, .theme-dark .b-r, .theme-dark .b-t, .theme-dark .card, .theme-dark .card-footer, .theme-dark .card-header, .theme-dark .form-material .form-group .form-line, .theme-dark .list-group-item, .theme-dark .table td, .theme-dark .table th, .theme-dark .table tr, .theme-dark.b-b, .theme-dark.b-l, .theme-dark.b-r, .theme-dark.b-t {
    border-color: #43536e !important;
}
.theme-dark .card, .theme-dark .list-group-item, .theme-dark .main-sidebar, .theme-dark .navbar, .theme-dark .progress, .theme-dark .white, .theme-dark.body, .theme-dark.card, .theme-dark.main-sidebar, .theme-dark.navbar {
    background: #263147 !important;
}
.theme-dark .offcanvas .sidebar-menu > li, .theme-dark .sidebar-tabs, .theme-dark .tab-content, .theme-dark.offcanvas .sidebar-menu > li {
    border-color: #263147 !important;
}
.theme-dark .b-b{color:#9fadbb;}
.theme-dark .sidebar {color: #9fadbb;}
.sidebar{height:100% !important;}
.theme-dark .form-control {border-color: rgba(255, 255, 255, 0.1);background: rgba(255, 255, 255, 0.1);color: #eaeaea;border-radius: 2px !important;}
.theme-dark .form-control::placeholder{color:rgba(255, 255, 255, 0.5);}
.theme-dark .light{background: rgba(255, 255, 255, 0.1);}
.cgv.ch0 {padding: 0 40px 0 20px;}
.cgv {background-color: #2e3246;display: block;height: 100%;left: 58px;overflow: hidden;padding: 0;position: absolute;width: 370px;transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);}

.ch3 {height: calc(100% - 57px);width: 330px;}
.cpm {height: 100%;width: 100%;}
.d1g {height: calc(100% - 33px);width: 100%;}
.ld {height: 33px;position: relative;z-index: 2;width: 100%;}
.sidebar-tabs #v-pills-tabContent .nav a {font-size: 13px;padding: .4rem 0.8rem;}

.coq {float: left;}
.coq.cot, .cos.cot {margin: 0 12px 12px 0;}
.coq.cot:nth-of-type(2n), .coq.cou:nth-of-type(3n), .coq.cov:nth-of-type(4n), .cos.cot:nth-of-type(2n), .cos.cou:nth-of-type(3n), .cos.cov:nth-of-type(4n) {margin-right: 0;}
.csv {background-color: rgba(255, 255, 255, 0.1);border-radius: 2px;cursor: pointer;opacity: 0;position: relative;transform: translateY(-20%);transform-origin: center;transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}
.csv.tmp-width{width: 149px;height: 124px;}
.csv.ct0 {opacity: 1;transform: translateY(0);}
.csv img {border-radius: 2px;height: 100%;width: 100%;}
.images-item {width: 32%;cursor: pointer;-webkit-transition: .5s ease;-webkit-transition: .5s ease;padding: 3px;max-width: 120px;}

.clp {align-items: center;display: flex;flex-wrap: wrap;}
.tsv {background: rgba(255, 255, 255, 0.1);border-radius: 3px;margin: 0 10px 10px 0;cursor: pointer;opacity: 0;transform: translateY(-20%);transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);}
.tsv.ct3:nth-of-type(2n){margin-right: 0;}
.tsv.ct3 {opacity: 1;transform: translateY(0);}
.tsv .ct0 {transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);}
.tsv.textTmp-width{height: 110px;width: 160px;text-align:center;}
.tsv.textTmp-width img{max-height: 100%;max-width: 100%;position:relative;top:50%;transform: translateY(-50%);width:auto;height:auto;}

.c08{position: relative;padding:8px 0px;}
.c08 .csv{margin: 0 10px 10px 0;}
.csv.img-width{width: 160px;height: 107px;text-align:center;overflow:hidden;}
.csv.ct0:nth-of-type(2n){margin-right: 0;}
.csv.img-width img{max-width: 100%;position:relative;top:50%;transform: translateY(-50%);width:100%;height:auto;}

.cbt {align-items: center;-webkit-box-pack: center !important;-ms-flex-pack: center !important;justify-content: center !important;background-color: rgba(255, 255, 255, 0.1);border-radius: 2px;cursor: pointer;margin: 0 10px 10px 0;display: flex;position: relative;overflow: visible;opacity: 0;transform: translateY(-20%);transform-origin: center;transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}
.cbt.cbu {opacity: 1;transform: translateY(0%);overflow:hidden;}
.cbt.cbu:nth-of-type(2n){margin-right: 0;}
.cbt.image-background{width: 160px;height: 107px;text-align:center;}
.cbt .cbv {transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1);}
.cbt img {border-radius: 2px;}

.cb3 {color: rgba(255, 255, 255, 0.8);margin-bottom: 16px;position: relative;width: 310px;}
.cqq {margin-bottom: 16px;}
.d8c {padding: 18px 0 20px;}
.d8d {float: left;margin: 0 10px 10px 0;position: relative;}
.d8d:nth-of-type(4n) {margin-right: 0px;}
.dcg {background-color: rgba(255, 255, 255, 0.1);cursor: pointer;height: 70px;position: relative;width: 70px;border-radius: 2px;}
.dcg.dch svg {left: 50%;margin-left: -14px;margin-top: -14px;position: absolute;top: 50%;}

.cd7 {padding: 20px 0 10px;width: 340px;}
.cd7 .cd8 {float: left;margin: 0 17px 17px 0;}
.cd7 .cd8:f-type(4n) {margin-right: 0px;}
.chr {align-items: center;cursor: pointer;display: flex;height: 153px;position: relative;width: 153px;}
.chr .svg-width{height: 65px;width: 65px;}
.chr .chs, .chr svg  {opacity: 0.6;transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);}
.chr .chs{filter: invert(70%);}
.cd8{position:relative;}
.cd8 .chs{height: 100%;left: 50%;margin: 0 -50% 0 0;position: absolute;top: 50%;width: 100%;transform: translate(-50%, -50%);}

.db7 {padding: 10px 0 20px;}
.db8, .dt2 {float: left;margin: 0px 10px 10px 0;position: relative;}
.db8:nth-of-type(3n) {margin-right: 0;}
.cm9 {cursor: pointer;}
.cm9 {align-items: center;background-color: rgba(255, 255, 255, 0.1);border-radius: 2px;cursor: pointer;display: flex;position: relative;overflow: visible;opacity: 0;transform: translateY(-20%);transform-origin: center;transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}
.cm9.cma {opacity: 1;transform: none;}
.cm9.img-width{height: 96px;width: 96px;}
.cm9.img-width img {border-radius: 2px;height: 96px;width: 96px;}
.cm9 .cmb {transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1);}

.texture.db7 .dt2:nth-of-type(2n) {margin-right: 0px;}
.image-textures.textures-width{width: 160px;height: 107px;overflow: hidden;justify-content: center;}

.cnt {height: 100%;font-family: 'Open Sans';}
.cqq div div {cursor: pointer;}
.cqq .heading, .cqq .subheading, .cqq .body{color:rgba(255, 255, 255, 0.8);}
.cqq div:nth-child(3) div {margin-bottom: 16px;}
.cqq div div:hover {color: #fff;}
.cqr {border-top: 1px solid rgba(255, 255, 255, 0.1);}

.theme-dark .select2-container .select2-selection--single .select2-selection__rendered {color: #d9e1e8;}
.theme-dark .select2-container--default .select2-selection--single {background-color: #415678;border: 1px solid #415678;border-radius: 3px;}
.select2-dropdown {background-color: #415678;}
.select2-container--default .select2-search--dropdown {border-bottom: 1px solid #5e6b81;}
.select2-results__option {color: #e6ebf0;}
.select2-container--default .select2-results__option[aria-selected="true"] {color: #484849;}
.select2-container--default .select2-results__option[aria-selected="true"]:hover {color: #ffffff;}
.select2-container--default .select2-results__option--highlighted[aria-selected="true"] {color: #ffffff;}
.select2-container--default .select2-search--dropdown:before {color: #86939e;content: "\e9fe";font-family: paperIcons !important;}

.arg {background-color: #334059;border-radius: 18px;box-shadow: 0 0 20px 0 rgba(81, 88, 115, 0.2);font-size: 12px;font-weight: 500;left: 50%;top:20px;position: absolute;padding: 0 18px;text-align: left;width: auto;z-index: 3;transform:translateX(-50%);}
.b68 {background-color: #fff;border-radius: 2px;box-shadow: 0 0 20px 0 rgba(81, 88, 115, 0.2);font-size: 12px;font-weight: 500;left: 0;position: absolute;padding: 12px;text-align: left;top: 0;width: 100%;z-index: 3;}
.b68 .b6j {align-items: center;background: rgba(223, 224, 230, 0.6);border-top-left-radius: 2px;border-top-right-radius: 2px;color: #2e3246;display: flex;height: 40px;justify-content: space-between;margin-left: -12px;margin-top: -12px;padding: 12px;position: relative;text-transform: uppercase;width: calc(100% + 24px);}

.b6d:not(:first-child) {padding-top: 10px;}
.overlypicker{opacity:0;position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:2;cursor:pointer;}
.b68 input {cursor: pointer;font-weight: 500;}
#temp_cat_id{font-size: 0.8rem;}
#temp_cat_id option{padding:5px 10px;}
.fs-12 {font-size: 12px !important;}
.fs-13 {font-size: 13px !important;}
.fs-14 {font-size: 14px !important;}
.fs-15 {font-size: 15px !important;}
.fs-16 {font-size: 16px !important;}
.flip-vertical {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform: scale(1, -1);-ms-transform: scale(1, -1);transform: scale(1, -1);}

.btn:focus{box-shadow:none;}
.toolbar-group .btn {border-radius: 0px ;line-height:1;min-width:40px;padding: .45rem .4rem;display:flex;justify-content: center;}
.toolbar-group .btn i{font-size:22px;vertical-align: middle;display:flex;align-items: center;}
/* .toolbar-group .btn .icon-text_format{font-size:24px;} */
.toolbar-group .btn-primary {background:#334059;color:#b3b7c5 !important;}
.toolbar-group .btn.active{color:#ffffff !important;}
.toolbar-group .btn-primary:not(:disabled):not(.disabled).active, .toolbar-group .btn-primary:not(:disabled):not(.disabled):active, .toolbar-group .show > .btn-primary.dropdown-toggle {color: #fff !important;background-color: #03a9f4;border-color: #03a9f4;}
.toolbar-group .btn-primary:focus, .toolbar-group .btn-primary:hover{opacity: 1;color: #fff !important;}
.vertical-flip{transform:rotate(90deg);}

.savebtn_fixed{position:fixed;bottom:20px;right:20px;z-index:9999;}

.n {width: 100%;height: 100%;}
.bh {height: calc(100% - 56px);}
.bl {background-color: #fafafc;height: 100%;transition: height 0s .5s;}
.bq {background: #f0f1f5;border: 0;border-collapse: collapse;border-spacing: 0;height: 100%;overflow: hidden;position: relative;width: 100%;}
.bq td {padding: 0;}
.bq .br > td, .bq .bs > td {height: 100%;width: 100%;}

.b7o {height: 100%;overflow: hidden;position: relative;width: 100%;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.b7n {position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.b15 {height: 56px;text-align: center;width: 100%;}
.b4v {align-items: center;display: flex;height: 54px;justify-content: space-between;width: 100%;}
.b4v.b53 {background-color: #f0f1f5;box-shadow: inset -1px 1px 0 0 #dfe0e6;}
.b4v .b50, .b4v .b52 {height: 100%;}
.b4v .b52 {text-align: right;}

.b15 .b1f {display: flex;align-items: center;text-align: center;}
.b15 .b1e {background-color: #dfe0e6;height: 32px;width: 1px;}
.b15 .b1f .b1g {display: inline-block;margin: 0 8px;}
.b15 .b1h {z-index: 4;}
.b15 .b1d {align-items: center;display: flex;float: right;height: 100%;justify-content: center;position: relative;z-index: 10;}

.b7i {position: relative;width: 100%;}
.b7p {transition: height 0.3s;}
.b1d .btn.btn-sm.save-btn{padding: .15rem .5rem;}

.psBottomPanel{position: absolute;bottom: 10px;left: 50%;z-index: 2001;display: -ms-flexbox;display: flex;font-size: 13px;transform: translateX(-50%);transition: all .4s;}
.psButtons{background-color: #334059;border: 1px solid hsla(0,0%,100%,.25);display: -ms-inline-flexbox;display: inline-flex;-ms-flex-align: center;align-items: center;height: 36px;padding: 0 18px;border-radius: 18px;}
svg:not(:root) {overflow: hidden;}
.buttonUndo, .buttonRedo{margin: 0 0 2px 6px;}
.buttonRedo{margin-left: 10px;}
.buttonRedoCircle, .buttonUndoCircle {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;margin-right: 6px;color: #b3b7c5;white-space: nowrap;transition: all .4s;outline: none;cursor: pointer;border: none;background: none;line-height: 1.15;}
.buttonRedoCircle span, .buttonUndoCircle span {margin-left: 5px;padding-top: 4px;}
.undoRedoSvg, .zoomSvg {transition: all .4s;fill: #03a9f4;}
.buttonRedoCircle:hover,.buttonUndoCircle:hover{color:#ffffff;}
.buttonRedoCircle:hover .undoRedoSvg,.buttonUndoCircle:hover .undoRedoSvg{fill:#ffffff;}
.buttonRedoCircle .undoRedoSvg{width:21px}
.psBottomPanelLine {width: 1px;height: 100%;margin-left: 7px;background-color: #b3b7c5;}

.prTopPanel{position: relative;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;font-size: 13px;transition: all .4s;}
.prButtons{background-color: #334059;border: 1px solid #03a9f4;display: -ms-inline-flexbox;display: inline-flex;-ms-flex-align: center;align-items: center;height: 36px;padding: 0 18px;border-radius: 18px;}
.prTopPanel-left-plc{margin-left:190px;}
.prTopPanel-right-plc{margin-right:140px;}
.zoom{display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: center;align-items: center;}
.zoomMinus, .zoomPlus {width: 18px;height: 18px;text-align: center;background-color: transparent;transition: all .4s;border: none;outline: none;cursor: pointer;line-height: 1.15;padding: 0;font-size: 100%;}
.zoomPercent {position: relative;z-index: 0;width: 60px;margin: 0 12px;}
.scaleListButton{display: block;width: 100%;padding: 4px 0;color: #03a9f4;font-size: 11px;border: 1px solid transparent;border-radius: 11px;transition: all .4s;background:none;outline: none;cursor: pointer;overflow: visible;line-height: 1.15;}
.zoomMain {position: relative;padding: 5px 4px 5px 0;border: 1px solid #03a9f4;}
.zoomMinus:hover .zoomSvg,.zoomPlus:hover .zoomSvg{fill:#ffffff;}
#zoomIn:disabled, #zoomOut:disabled{opacity:0.4;}
.scaleListButton:hover{border-color:#03a9f4;}
.scaleListButtonActive{color:#263147;background-color:#fff;}
.zoomMain:hover{color:#ffffff;background-color:#03a9f4;}